<ion-header>
  <ion-toolbar class="ion-padding-horizontal"
    color="primary">
    <ion-title class="ion-no-padding"> Mudar E-mail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"
        shape="round">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>✋ Atento: iremos enviar um e-mail de confirmação para o endereço que você inserir abaixo. A troca só será
            efetivada
            quando você confirmar
            o endereço de e-mail através do link que lhe enviaremos para sua caixa de entrada, abutre!
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"
          class="ion-no-padding">
          <ion-list class="ion-no-padding">
            <ion-item>
              <ion-label position="floating">📧 Insira o novo e-mail</ion-label>
              <ion-input type="text"
                formControlName="email"
                maxlength="80"></ion-input>
            </ion-item>
            <ion-button expand="block">Solicitar troca de e-mail</ion-button>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>