ion-searchbar {
  --background: #fff;
  padding: 0px;
  @media only screen and (min-width: 768px) {
    padding-left: 10px;
  }
}

.search-item {
  --inner-padding-end: 0px;
}

::ng-deep .item-searchbar .item-inner {
  padding-right: 0x !important;
}

.animate-final {
  flex: 0 0 calc(calc(24 / var(--ion-grid-columns, 12)) * 100%) !important;
  width: calc(calc(24 / var(--ion-grid-columns, 12)) * 100%) !important;
  max-width: calc(calc(24 / var(--ion-grid-columns, 12)) * 100%) !important;
}

.animate-shrink {
  flex: 0 0 calc(calc(0 / var(--ion-grid-columns, 12)) * 100%) !important;
  width: calc(calc(0 / var(--ion-grid-columns, 12)) * 100%) !important;
  max-width: calc(calc(0 / var(--ion-grid-columns, 12)) * 100%) !important;
  opacity: 0;
}

.md .search-column {
  z-index: 11;
  & ion-item {
    padding-top: 3px;
  }
}

::ng-deep .searchbar-input.sc-ion-searchbar-md.desktop {
  border-radius: 6px 0px 0px 6px;
}

ion-button.ion-no-margin {
  position: relative;
  top: -9px;
  --padding-bottom: 21px;
  --padding-top: 21px;
  --padding-end: 21px;
  --padding-start: 21px;
  --border-radius: 0px 6px 6px 0px;
  font-size: 16px;
  --border-width: 1px;
  --border-color: var(--ion-primary-color);
  --box-shadow: 0 3px 1px 0px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.md ion-list.absolute {
  position: absolute;
  background-color: #fff;

  padding: 0px;
  @media only screen and (max-width: 768px) {
    width: calc(100% - 32px);
    margin-left: 16px;
  }

  width: calc(100% - 106.2px);
  top: -1px;
  margin-left: 26px;
}

.ios ion-list.absolute {
  position: absolute;
  background-color: #fff;

  padding: 0px;
  @media only screen and (max-width: 768px) {
    width: calc(100%);
  }

  width: calc(100% - 106.2px);
  top: 7px;
}

.ios ion-toolbar:last-of-type {
  --border-width: 0px !important;
}

ion-list.ion-no-padding {
  border-radius: 5px;
}

ion-toolbar {
  --background: transparent;
}

.free-column {
  position: absolute;
  top: 48px;
  z-index: 10;
}

.suggestions {
  background-color: var(--ion-color-tertiary);
}

::ng-deep [data-tippy-root] {
  pointer-events: initial !important;
}

::ng-deep .tippy-box {
  max-width: none !important;
}

::ng-deep [data-theme="light"] .tippy-content {
  padding: 0px !important;
}

.hidden {
  display: none;
}

ion-badge {
  position: absolute;

  &.notifications {
    right: 80px;
    bottom: 15px;
  }

  &.cart {
    right: 40px;
    bottom: 15px;
  }
}

ion-list p {
  font-size: 12px;
}

.notification-wrapper {
  padding-bottom: 0px;
  border-radius: 5px;

  @media only screen and (min-width: 768px) {
    max-height: calc(100vh - 88px);
    max-width: 350px;
  }
  height: calc(100vh - 56px);
  width: 100vw;
}

.notification-list {
  border-radius: 5px;
  margin-top: 49px;
}

::ng-deep div[data-tippy-root] {
  @media only screen and (max-width: 768px) {
    left: -5px !important;
  }
  top: 2px !important;
}

.border-content {
  @media only screen and (min-width: 768px) {
    padding: 3px 0px;
  }
}
