<form [formGroup]="form">

  <ion-list formGroupName="passwords">
    <ion-item [ngClass]="{'ion-touched': form.get('passwords.password').touched }">
      <ion-label position="floating">🔓 Senha</ion-label>
      <ion-input [type]="passwordType"
        clearOnEdit="false"
        formControlName="password"
        minlength="6"
        maxlength="25">
      </ion-input>
      <ion-icon slot="end"
        [name]="passwordIcon"
        class="passwordIcon"
        (click)='hideShowPassword()'></ion-icon>
    </ion-item>
    <ng-container *ngIf="!form.get('passwords.password').valid && form.get('passwords.password').touched">
      <ng-container *ngFor="let error of fields.password.errors | keyvalue">
        <small class="small-error"
          *ngIf="form.get('passwords.password').hasError(error.key)">
          {{ error.value }}
        </small>
      </ng-container>
    </ng-container>
    <ion-item [ngClass]="{'ion-touched': form.get('passwords.cpassword').touched }">
      <ion-label position="floating">🔐 Repita a Senha</ion-label>
      <ion-input type="password"
        clearOnEdit="false"
        formControlName="cpassword"
        maxlength="25">
      </ion-input>
    </ion-item>
    <ng-container *ngIf="!form.get('passwords.cpassword').valid && form.get('passwords.cpassword').touched">
      <ng-container *ngFor="let error of fields.cpassword.errors | keyvalue">
        <small class="small-error"
          *ngIf="form.get('passwords.cpassword').hasError(error.key)">
          {{ error.value }}
        </small>
      </ng-container>
    </ng-container>
  </ion-list>
</form>