<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="24"
        size-md="10"
        offset-md="6"
        class="ion-text-center">
        <ng-container *ngIf="!dataLoaded; else loadedData">
          <ion-title>
            <ion-spinner></ion-spinner>...Guenta mão!
          </ion-title>
        </ng-container>
        <ng-template #loadedData>
          <ng-container *ngIf="tokenExpired">
            <p>🤕 O token para redefinir sua senha expirou! Caso seja necessário, faça outra solicitação em > <b>🚪
                Entrar</b> > clique no botão <b>'🤔 Problemas para entrar?'</b></p>
            <ion-button expand="block"
              routerLink="/entrar"
              color="primary">
              Navegar para 🚪 Entrar
            </ion-button>
          </ng-container>
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="dataLoaded && !tokenExpired">
      <ion-col size="24"
        size-md="8"
        offset-md="6">
        <ion-title>🔄 Redefina sua senha nos campos abaixo</ion-title>
        <ng-container>
          <app-passwords-input (passwordChange)="redefineUpdate($event)"></app-passwords-input>
        </ng-container>
        <span #span
          [element]="span"
          [content]="!form?.valid ? 'O botão só pode ser clicado se todo o formulário estiver correto' : '' "
          appTippy>
          <ion-button color="primary"
            expand="block"
            (click)="redefinePassword()"
            [disabled]="!form?.valid">
            Redefinir Senha
          </ion-button>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>