<ion-header>
  <ion-toolbar class="ion-padding-horizontal"
    color="primary">
    <ion-title class="ion-no-padding">🔏 {{ change? 'Mudar': 'Criar'}} Senha</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"
        shape="round">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="passwords">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>Para {{ change? 'mudar': 'criar'}} sua senha é necessário
            {{ change? 'inserir a senha antiga e confirmar a senha nova': 'inserir uma senha e confirmá-la'}},
            Roy!
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"
          class="ion-no-padding">
          <ion-list class="ion-no-padding">
            <ion-item *ngIf="change">
              <ion-label position="floating">🔓 Insira a senha antiga</ion-label>
              <ion-input type="text"
                formControlName="oldPassword"
                maxlength="30"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">🔒 Insira sua {{ change? 'nova': ''}} senha</ion-label>
              <ion-input type="text"
                formControlName="password"
                maxlength="30"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">🔐 Confirme sua {{ change? 'nova': ''}} senha</ion-label>
              <ion-input type="text"
                formControlName="cpassword"
                maxlength="30"></ion-input>
            </ion-item>
            <ion-button expand="block">Trocar senha!</ion-button>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>