ion-button.ion-no-margin {
  position: relative;
  top: -9px;
  --padding-bottom: 21px;
  --padding-top: 22px;
  --padding-end: 21px;
  --padding-start: 21px;
  --border-radius: 0px 6px 6px 0px;
  font-size: 16px;
  --border-width: 1px;
  --border-color: var(--ion-primary-color);
  --box-shadow: 0 3px 1px 0px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: inline;
}

ion-input {
  --background: #fff;
  --padding-bottom: 12px;
  --padding-top: 12px;
  --padding-start: 12px !important;
  --placeholder-color: #5a1f01;
  border-radius: 6px 0px 0px 6px;
}
